@font-face {
font-family:"Spireql";
src: url("spireql.ttf") /* TTF file for CSS3 browsers */
}
#home-slide{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}
#img-container{
  width:100%;
  height:100%;
}
#img-container > img{
  max-width:100%;
  max-height: 90%;
}
.galleria{
  width:50%;
  height:70%;
  margin:0 auto;
}
#music-slide{
  margin: 0 auto;
  margin-top: -30px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: none;
  position: absolute;
}
#photos-slide{
  margin: 0 auto;
  margin-top: -30px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: none;
  position: absolute;
}
#performances-slide{
  margin: 0 auto;
  margin-top: 25px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  display: none;
  overflow: auto;
  position: absolute;
}
#performance-inner-slide{
  margin: auto;
  width:900px;
  height:700px;
  background-color: transparent;
  margin-top: 0px;
  overflow: auto;
}
#performance-slide-content{
  margin-top: 100px;
}
#past-performance{
  margin-top: 200px;
}
.performance-content{
  width:100%;
  height:70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.p-date{
  display:inline-block;
  float: left;
  width:30%;
  height:100%;
  margin-left: 15px;
}
.p-date > h4{
  color:white;
  font-weight: normal;
  font-size: 18px;
}
#about{
  overflow: auto;
}
#about > h3{
  font-family: Spireql;
  font-size: 45px;
  text-align: left;
  margin-top: 25px;
  margin-left: 25px;

  color: white;
  font-style: normal;
}
#about > p{
  width: 800px;
  color: white;
  margin-left: 23px;
  font-size: 25px;
  line-height: 33px;
  font-family: Spireql;
}
.p-title{
  display:inline-block;
  float: center;
  width:35%;
  height:100%;
  margin-top: -10px;
}
.p-title > h4{
  color:white;
  font-size: 23px;
  font-weight: normal;

}
.p-info{
  display:inline-block;
  float: right;
  width:30%;
  height:100%;
  margin-top: 10px;
  margin-right: 15px;
  color: white;
}
.p-more{
  display: inline-block;
}
#performance-inner-slide > h2{
  text-align: center;
  color: white;
  font-family: Spireql;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
.p-h{
  float: left;
}
#p-d{
  float: left;
  text-align: center;
  margin-left: 10px;
}
#about-slide{
  margin: 0 auto;
  margin-top: -30px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: none;
  overflow: auto;
  position: absolute;
}
#about-inner-slide{
  width: 900px;
  height:700px;
  margin: auto;
  overflow: auto;
}
#about-image-container > img{
  width:500px;
  height:700px;

}
#about-image-container{
  width:50px;
  height: 50px;
}
#contact-slide{
  margin: 0 auto;
  margin-top: -30px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: none;
  position: absolute;
}
#contact{
  width:800px;
  margin: auto;
  height:100%;
}
#contact > h3{
  color: white;
  font-family: Spireql;
  font-style: normal;
  font-size: 45px;
  text-align: left;
}
#contact > h2{
  color: white;
  font-family: Spireql;
  font-style: normal;
  font-size: 35px;
  text-align: center;
}
.center-p{
  text-align: center;
}
body{
  position: relative;
}
.light-blue{
  color: #00688B;
}
